p{
margin-top: 15px;
}

h2{

    margin-bottom: 25px;
}

.search-container{
    margin-top: 25px;
}

.ant-input-affix-wrapper {
    border-radius: 100px; /* Bord arrondi */
    padding-right: 1px; /* Ajustez le padding si nécessaire pour l'icône */
  }
  
  .ant-input-affix-wrapper .ant-input {
    border-radius: 100px; /* Bord arrondi pour l'input */
  }

  
  .ant-btn-primary {
    background-color: #1ED760; /* Fond transparent */
    color: black;
  }
  
   .ant-btn-primary:hover {
    border-color: transparent; /* Garde le bouton transparent au survol */
    background-color: #36ff7c !important;
    color: black !important;
  }
  
  .anticon-audio {
    color: black; /* Couleur de l'icône, à changer selon vos préférences */
  }

  .play-button-liked {
    margin-top: 20px;
    width: 150px;
  }