.svgEqualizer {
    width: fit-content;
    height: 100px; /* Hauteur fixe pour le SVG */
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar {
    fill: #1ED760;
    /* Cette transition permet d’animer en douceur le changement de height/y */
    transition: all 0.2s ease;
  }
  